{% extends 'layout.html.twig' %}
{% block stylesheet%}
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/v2homepage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
{% endblock %}
{% block content %}
    <div class="container">
       <h3>🔖 Votre média a bien été réservé !</h3>
       <p>Vous pouvez désormais venir le récupérer dans notre médiathèque.</p>
       <a href="/" class="cssLinkToHome">Retour à l'accueil</a>
    </div>
{% endblock %}
