{% extends 'layout.html.twig' %}


{% block content %}
    <h1>User</h1>
    <p>{{ user.id }}</p>
    <p>{{ user.pseudo }}</p>
    <p>{{ user.adresse_email }}</p>
    <p>{{ user.mot_de_passe}}</p>
{% endblock %}