{% extends 'layout.html.twig' %}

{% block content %}
    <div>
        {% if user %}
            <p>
                Bienvenue <strong>{{ user.pseudo }}</strong>!
            </p>
        {% else %}
        {# ... #}
        {% endif %}
    </div>
{% endblock %}