{% block stylesheet %}
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
{% endblock %}
<footer>
        <span>© 2023 Book Your Medias. Tous droits réservés</span>
        <div class="socialMedias">
            <img src="/assets/images/instagram.png" alt="instagram" class="media">
            <img src="/assets/images/twitter.png" alt="twitter" class="media">
            <img src="/assets/images/facebook.png" alt="facebook" class="media">
        </div>
</footer>