<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Ajouter une nouvelle catégorie</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
        <link rel="stylesheet" href="../assets/css/navAdmin.css">
    </head>
    <body>
        <main class="container">
            <div class="navAdmin"> 
                <a href="/admin">Centre administrateur</a>
                <a href="/admin/add">Ajouter un média</a>
                <a href="/auteur/add">Ajouter un auteur</a>
                <a href="/categorie/add">Ajouter une catégorie</a>
                <a href="/">Retour à l'accueil</a>
            </div>
            <h1>🏷️ Ajouter une nouvelle catégorie</h1>

            <?php foreach ($errors as $error) : ?>
                <p><?= $error ?></p>
            <?php endforeach; ?>

            <form action="" method="post">
                <div>
                    <label for="name_categorie">Nom de la catégorie : </label>
                    <input id="name_categorie" name="name_categorie" type="text" value="{{ categorie.name_categorie }}">
                </div>
                <button>Ajouter la catégorie</button>
            </form>
        </main>
    </body>
</html>
