.info-labels-for-title, 
.info-labels-for-author,
.info-labels-for-date,
.info-labels-for-description,
.data-of-media-title,
.data-of-media-author,
.data-of-media-date,
.data-of-media-description {
    --main-size-data: 1.6em;
}
  

#presentation-media {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30%;
    font-family: "roboto";
}

.left-side-page {
    grid-area: 1 / 1 / 6 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.right-side-page {
    grid-area: 1 / 3 / 6 / 6;
    background-color: #fff;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr) repeat(2, 0);
    grid-auto-rows: 6rem;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.info-labels-for-title { grid-area: 1 / 1 / 2 / 2; }
.info-labels-for-author { grid-area: 2 / 1 / 3 / 2; }
.info-labels-for-date { grid-area: 3 / 1 / 4 / 2; }
.info-labels-for-description { grid-area: 4 / 1 / 5 / 2; }

.data-of-media-title { grid-area: 1 / 2 / 2 / 4; }
.data-of-media-author { grid-area: 2 / 2 / 3 / 4; }
.data-of-media-date { grid-area: 3 / 2 / 4 / 4; }
.data-of-media-description { grid-area: 4 / 2 / 5 / 4; }


.info-labels-for-title p,
.info-labels-for-author p,
.info-labels-for-date p,
.info-labels-for-description p,
.data-of-media-title p,
.data-of-media-author p,
.data-of-media-date p,
.data-of-media-description p {
    font-size: var(--main-size-data);
}

.info-labels-for-title p,
.info-labels-for-author p,
.info-labels-for-date p,
.info-labels-for-description p{
    text-decoration: underline;
    color: #0A477D;
}

.box {
    width: 85%;
}

.cover-picture {
    border-radius: 0.5em;
    width : clamp(13em, 35vw, 21em);
}

.style-button {
    background-color: #0A477D;
    border-radius: 1rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    height: 3em;
    width: 50%;
    font-family: "roboto";
}

.size-available, .size-categorie {
    font-size: 1.5em;
}

footer {
    background-color: #0a477d;
    color: #fff;
    width: 100%;
    margin-top: 20em;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    font-family: "roboto";
    
}


@media (426px <= width <= 768px) {
    #presentation-media {
        display: flex;
        flex-direction: column;
    }
    .right-side-page{
        margin-top: 3em;
        margin-left: 3em;
        /* margin-right: 3em; */
    }
    footer {
        background-color: #0a477d;
        color: #fff;
        width: 100%;
        margin-top: 28em;
        height: 6rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (319px <= width <= 425px) {
    #presentation-media {
        display: flex;
        flex-direction: column;
    }
    .right-side-page{
        /* margin-top: 3em;
        margin-left: 3em;
        margin-right: 3em; */
    }
    footer {
        background-color: #0a477d;
        color: #fff;
        width: 100%;
        margin-top: 35em;
        height: 6rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .right-side-page {
        /* grid-area: 1 / 3 / 6 / 6; */
        background-color: #fff;
        justify-content: center;
        display: grid;
        /* grid-template-columns: repeat(3, 1fr) repeat(2, 0);
        grid-auto-rows: 6rem;
        grid-column-gap: 0px;
        grid-row-gap: 0px; */
    }
}
