{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="../../../../public/assets/css/page-connexion-inscription.css">
{% endblock %}
{% block content %}
    <section id="inscription-connexion-user">
        <fieldset class="container-form-connexion">
            <h1>Connexion</h1>
            <form action="" method="post">
                <div class="space-center-elements">
                    <input type="email" id="adresse_email" name="user_email" placeholder="Courriel" class="size-input-connexion" required>
                </div>
                <div class="space-center-elements">
                    <input type="password" id="mot_de_passe" name="user_password" placeholder="Mot de passe" class="size-input-connexion" required>
                </div>
                <button type="submit" class="style-button">Se connecter</button>
            </form>
            <h2><a href="./page-inscription.php" class="subsribe-if-no-account">S'incrire</a></h2>
        </fieldset>
    </section>
{% endblock %}